/*html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(250deg, #8190d4, #949665);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}*/

.container
{
    cursor: default;
    background: linear-gradient(250deg, #8190d4, #949665);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image
{
    width: 200px;
    height: 200px;
    border: 5px double black;
    border-radius: 50%;
    margin: 5px;
}

ul, li
{
    list-style: none;
    margin: 5px;
    padding: 20px;
}

ul 
{
    width: 500px;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 25px;
}

@media screen and (max-width: 600px)
{
    ul
    {
        width: 300px;
    }
}

li 
{
    background-color: rgba(214, 214, 214, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
}

li:last-child 
{
    margin-bottom: 0px;
}

.videoConainer
{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    margin-top: 20px;
}

.video
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}